{% for __user in r_cloud_architecture_workshop_users %}
---
kind: Secret
apiVersion: v1
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_camel_discord_secret_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_camel_namespace_prefix }}-{{ __user }}
stringData:
  discord.properties: |
    discord.token={{ ocp4_workload_cloud_architecture_workshop_camel_discord_token }}
    discord.guild.id={{ ocp4_workload_cloud_architecture_workshop_camel_discord_guild_id }}
    discord.guild.group={{ ocp4_workload_cloud_architecture_workshop_camel_discord_guild_group }}
type: Opaque
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_camel_minio_secret_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_camel_namespace_prefix }}-{{ __user }}
type: "Opaque"
stringData:
  application.properties: |-
    camel.component.aws2-s3.accessKey={{ ocp4_workload_cloud_architecture_workshop_camel_minio_access_key }}
    camel.component.aws2-s3.secretKey={{ ocp4_workload_cloud_architecture_workshop_camel_minio_secret_key }}
    minio.url={{ ocp4_workload_cloud_architecture_workshop_camel_minio_url_prefix }}-{{ __user }}.{{ r_openshift_subdomain }}
    s3.webrpc.token={{ ocp4_workload_cloud_architecture_workshop_camel_minio_token }}
{% endfor %}