---


- name: Delete apim namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_module_apim_namespace_prefix }}-user1"
    wait: true

- name: Delete cdc namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_module_cdc_namespace_prefix }}-user1"
    wait: true

- name: Delete rhsi namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_module_rhsi_db_namespace_prefix }}-user1"
    wait: true

- name: Delete globex namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-user1"
    wait: true

- name: Delete globex-mw namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-mw-user1"
    wait: true

- name: Delete RHSSO namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_rhbk_namespace }}"
    wait: true

- name: Delete 3scale namespace
  kubernetes.core.k8s:
    state: absent
    api_version: v1
    kind: Namespace
    name: "{{ ocp4_workload_cloud_architecture_workshop_threescale_namespace }}"
    wait: true
