{% for __user in r_cloud_architecture_workshop_users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globex-camel
  namespace: globex-gitops-{{ __user }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: globex-camel-{{ __user }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: https://github.com/rh-cloud-architecture-workshop/helm.git
    targetRevision: main
    path: globex-camel
    helm:
      values: |

        minio:
          accessKey: minio
          secretKey: minio123
          region: us-east-1

        kafka:
          kafka:
            namespace: globex-mw-{{ __user }}

        amq-broker:
          amq:
            namespace: camel-common

        globex-web:
          globexStoreApp:
            url: http://globex-store-app.globex-{{ __user }}:8080
          activityTrackingService:
            url: http://activity-tracking.globex-{{ __user }}:8080
          recommendationEngine:
            url: http://recommendation-engine.globex-{{ __user }}:8080
          globexSupportUrl:
            url: http://globex-support:8080

          sso:
            url: "https://sso.{{ r_openshift_subdomain }}/auth/realms/globex-{{ __user }}"
            client: globex-web-gateway
            logoutUri: https://globex-web-globex-camel-{{ __user }}.{{ r_openshift_subdomain }}/home       
{% endfor %}