{% for __user in r_cloud_architecture_workshop_users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globex-apim
  namespace: globex-gitops-{{ __user }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: globex-apim-{{ __user }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: https://github.com/rh-cloud-architecture-workshop/helm.git
    targetRevision: main
    path: globex-apim
    helm:
      values: |
        globex-partner-gateway:
          globexStoreApp:
            url: http://globex-store-app.globex-{{ __user }}.svc.cluster.local:8080
          image:
            tag: work
        globex-mobile-gateway:
          globexStoreApp:
            url: http://globex-store-app.globex-{{ __user }}.svc.cluster.local:8080
          keycloak:
            authserver: https://sso.{{ r_openshift_subdomain }}/auth/realms/globex-{{ __user }}
          image:
            tag: work        
{% endfor %}
