---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ cloud_architecture_workshop_skupper_applicationset_name }}
  namespace: {{ cloud_architecture_workshop_skupper_applicationset_namespace }}
spec:
  generators:
  - list:
      elements:
{% for n in range(1, cloud_architecture_workshop_skupper_user_count | int + 1 ) %}
      - user: {{ cloud_architecture_workshop_skupper_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ cloud_architecture_workshop_skupper_application_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: {{ cloud_architecture_workshop_skupper_applicationset_namespace }}
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ cloud_architecture_workshop_skupper_namespace_prefix }}-{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ cloud_architecture_workshop_skupper_application_repo }}
        targetRevision: {{ cloud_architecture_workshop_skupper_application_repo_tag }}
        path: {{ cloud_architecture_workshop_skupper_application_repo_path }}
        helm:
          values: |
            pgsql:
              adminPassword: adminpassword
