{% for __user in r_cloud_architecture_workshop_users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_module_apim_argo_application_name }}-{{ __user }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_module_apim_argo_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ r_cloud_architecture_workshop_module_apim_namespace | replace("user",__user) }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_module_apim_application_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_module_apim_application_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_module_apim_application_repo_path }}
    helm:
      values: |

        serviceRegistry:
          deploy: {{ ocp4_workload_cloud_architecture_workshop_module_apim_deploy_service_registry }}
        globex-partner-gateway:
          globexStoreApp:
            url: http://globex-store-app.globex-{{ __user }}.svc.cluster.local:8080
        globex-mobile-gateway:
          globexStoreApp:
            url: http://globex-store-app.globex-{{ __user }}.svc.cluster.local:8080
          keycloak:
            authserver: https://sso.{{ r_openshift_subdomain }}/realms/globex-{{ __user }}

        service-registry:
          service-registry:
            route:
              host: service-registry-apim-{{ __user }}.{{ r_openshift_subdomain }}

        mobile-gateway-backend:
          nameOverride: globex-mobile-gateway-backend
          backend:
            privateBaseURL: http://globex-mobile-gateway.globex-apim-{{ __user }}.svc.cluster.local:8080
        
        mobile-gateway-product:
          nameOverride: {{ ocp4_workload_cloud_architecture_workshop_module_apim_mobile_gateway_product }}
          product:
            issuerEndpoint: https://client-manager:9JRzL6le4K47JJkcSs6kjd9j2Mmfh1Jc@sso.{{ r_openshift_subdomain }}/realms/globex-{{ __user }}
        
        mobile-account-application:
          productCR: 
            name: globex-mobile-gateway-product
        
        globex-mobile:
          mobileGatewayService: 
            url: "https://globex-mobile-gateway-product-3scale-{{ __user }}-apicast-production.{{ r_openshift_subdomain }}:443"
          sso:
            url: https://sso.{{ r_openshift_subdomain }}/realms/globex-{{ __user }}
            logoutUri: https://globex-mobile-globex-apim-{{ __user }}.{{ r_openshift_subdomain }}/home


{% endfor %}
