---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_keycloak_route }}
  labels:
    app: sso
spec:
  host: {{ ocp4_workload_cloud_architecture_workshop_keycloak_host }}.{{ r_openshift_subdomain }} 
  to:
    kind: Service
    name: {{ ocp4_workload_cloud_architecture_workshop_keycloak_name }}-service
    weight: 100
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None