apiVersion: v1
kind: Secret
metadata:
  name: s3-auth
stringData:
  AWS_ACCESS_KEY_ID: {{ ocp4_workload_cloud_architecture_workshop_threescale_minio_access_key_id }}
  AWS_SECRET_ACCESS_KEY: {{ ocp4_workload_cloud_architecture_workshop_threescale_minio_secret_access_key }}
  AWS_BUCKET: 3scale-bucket
  AWS_REGION: {{ ocp4_workload_cloud_architecture_workshop_threescale_minio_default_region }}
  AWS_HOSTNAME: minio-{{ ocp4_workload_cloud_architecture_workshop_threescale_namespace }}.{{ r_openshift_subdomain }}:80
  AWS_PATH_STYLE: "true"
  AWS_PROTOCOL: HTTP
type: Opaque
