kind: Secret
apiVersion: v1
metadata:
  name: "{{ r_threescale_org_name }}-admin-secret"
type: Opaque    
stringData:
  admin_password: "{{ ocp4_workload_cloud_architecture_workshop_threescale_tenant_admin_password }}"
