kind: Secret
apiVersion: v1
metadata:
  name: system-seed
  labels:
    app: 3scale-api-management
    threescale_component: system
stringData:
  ADMIN_ACCESS_TOKEN: {{ r_threescale_admin_access_token }}
  ADMIN_EMAIL: {{ ocp4_workload_cloud_architecture_workshop_threescale_admin_email }}
  ADMIN_PASSWORD: {{ r_threescale_admin_password }}
  ADMIN_USER: {{ ocp4_workload_cloud_architecture_workshop_threescale_admin_userid }}
  MASTER_ACCESS_TOKEN: {{ r_threescale_master_access_token }}
  MASTER_DOMAIN: {{ ocp4_workload_cloud_architecture_workshop_threescale_master_domain }}
  MASTER_PASSWORD: {{ r_threescale_master_password }}
  MASTER_USER: {{ ocp4_workload_cloud_architecture_workshop_threescale_master_userid }}
  TENANT_NAME: {{ ocp4_workload_cloud_architecture_workshop_threescale_tenant_name }}
type: Opaque