apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: "{{ r_threescale_org_name }}"
spec:
  email: "{{ r_threescale_tenant_admin_email }}"
  masterCredentialsRef:
    name: system-seed
  organizationName: "{{ r_threescale_org_name }}"
  passwordCredentialsRef:
    name: "{{ r_threescale_org_name }}-admin-secret"
  systemMasterUrl: "{{ r_threescale_system_master_url }}"
  tenantSecretRef:
    name: "{{ r_threescale_org_name }}-tenant-secret"
    namespace: "{{ ocp4_workload_cloud_architecture_workshop_threescale_namespace }}"
  username: "{{ r_threescale_tenant_admin_id }}"
